---
layout: default
---
<div class="shell-old">
	<p>This Mike is not exactly Mycroft Holmes but rather a collection of Autohotkey scripts to make daily life in Windows less dull.</p>
	<p><strong>Two fancy ones:</strong></p>
	{% include kbd k="Control+Win+Z" l="Zips the entire folder, or just the selected files, in Windows Explorer." github="scripts-windows-explorer/windows-explorer-zip-directory" %}
	{% include kbd k="Win+Alt+D" l="Minimize all windows on monitor of active Window. Press again to restore." github="scripts-other/windows-min-max" %}
</div>

{{ content }}
